---
layout: default
title: All recipes
permalink: /all/
---
<%
  recipes = collections.recipes.resources
  by_effort = ->(name) { recipes.select { |r| r.data.effort == name }.sort_by { |r| r.data.name.to_s.downcase } }
  weeknight = by_effort.("weeknight")
  weekend   = by_effort.("weekend")
  project   = by_effort.("project")
%>
<article class="all-recipes">
  <h1 class="all-recipes__title">All recipes</h1>
  <p class="all-recipes__lede"><%= recipes.size %> recipes, organised by how much time and attention they need.</p>

  <section class="all-recipes__section" id="weeknight">
    <h2 class="all-recipes__section-title">Weeknight <span class="meta"><%= weeknight.size %></span></h2>
    <ul class="all-recipes__list">
      <% weeknight.each do |r| %>
        <%= render "recipe_list_item", recipe: r, meta: r.data.cuisine %>
      <% end %>
    </ul>
  </section>

  <section class="all-recipes__section" id="weekend">
    <h2 class="all-recipes__section-title">Weekend <span class="meta"><%= weekend.size %></span></h2>
    <ul class="all-recipes__list">
      <% weekend.each do |r| %>
        <%= render "recipe_list_item", recipe: r, meta: r.data.cuisine %>
      <% end %>
    </ul>
  </section>

  <section class="all-recipes__section" id="project">
    <h2 class="all-recipes__section-title">Projects <span class="meta"><%= project.size %></span></h2>
    <ul class="all-recipes__list">
      <% project.each do |r| %>
        <%= render "recipe_list_item", recipe: r, meta: r.data.cuisine %>
      <% end %>
    </ul>
  </section>
</article>
